<div class="feeding-container">
  <div class="feeding-page">
    <div class="feeding-banner row row-cols-1 row-cols-lg-2">
      <div class="col">
        <p class="banner-title">Alimentación</p>
        <p class="banner-text">Alimentarse bien es de suma importancia para la <b>productividad laboral, la creatividad
          y la felicidad.</b> Mientras trabajas y disfrutas de tu vida, nosotros nos encargamos de tu alimentación.
          <b>Relájate</b> y deléitate de nuestros deliciosos y saludables platos.</p>
        <p class="banner-text">Nuestro chef experto trabaja con productos locales de alta calidad. Ofrecemos paquetes de
          alimentación que pueden incluir el desayuno, el almuerzo, y/o la cena. También brindamos la posibilidad de
          preparar tu propio alimento en nuestra cocina común. Jericó es famoso por su producción de café de alta
          calidad, <b>¡así que siempre tendremos un cafecito fresco para ofrecerte!</b></p>
      </div>
      <div class="col">
        <img class="feeding-image" [src]="baseFeedingImages + imageOneName + imageExtension" [alt]="imageOneName">
      </div>
    </div>
    <div class="feeding-banner row row-cols-1 row-cols-lg-2">
      <div class="col">
        <div class="banner-list col">
          <b>Nuestra oferta gastronómica incluye:</b>
          <ul>
            <li>Chef experto</li>
            <li>Huerta orgánica</li>
            <li>Talleres de cocina</li>
            <li>Café especial de origen</li>
            <li>Alta cocina - consciente y saludable</li>
            <li>Opciones vegetarianas y veganas</li>
            <li>Cocina local e internacional</li>
            <li>Paquetes de alimentación</li>
            <li>Catering</li>
            <li>Experiencia al aire libre</li>
            <li>Servicio de snacks y bar</li>
          </ul>
        </div>
      </div>
      <div class="col">
        <img class="feeding-image" [src]="baseFeedingImages + imageTwoName + imageExtension" [alt]="imageOneName">
      </div>
    </div>
  </div>
</div>
