.feeding-container {
  padding: 1rem;
  background-color: #009447;
}

.feeding-page {
  padding: 2rem 0 2rem 0;
  background-color: #FFFFFF;
}

.feeding-banner {
  @media (max-width: 576px) {
    margin: 0 1rem 3rem 1rem;
  }
  margin: 0 5rem 3rem 5rem;
}

.feeding-image {
  display: block;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.banner-title {
  font-family: "Metropolis", serif;
  font-size: 3vw;
  font-weight: bold;
  color: #009447;
  @media (max-width: 768px) {
    font-size: 20px;
  }
}

.banner-text {
  font-family: "DIN", serif;
  font-size: 2vw;
  @media (max-width: 768px) {
    font-size: 15px;
  }
}

.banner-list {
  font-family: "DIN", serif;
  font-size: 2vw;
  @media (max-width: 768px) {
    font-size: 15px;
  }
}
