<div class="garden-container">
  <div class="garden-page">
    <div class="garden-banner">
      <p class="banner-title">Huerta</p>
      <p class="banner-text">Durante tu estancia en Riverside, te ofrecemos la posibilidad de <b>aprender a sembrar,
        cosechar y disfrutar los frutos de nuestra huerta en talleres de agricultura y nutrición.</b></p>
      <p class="banner-text">Hemos desarrollado una variedad de medicinas naturales con las plantas de nuestra huerta,
        como el cannabis, el romero, la ruda y la caléndula los cuales encontrarás en nuestro botiquín herbal. Todo esto
        entendiendo que nosotros seres humanos somos parte de la <b>naturaleza</b> y aspiramos convivir con ella de la
        forma más <b>sostenible</b>.</p>
      <iframe class="garden-video"
              src="https://www.youtube.com/embed/83HSGqCv3S4">
      </iframe>
      <ul class="garden-list">
        <li>Talleres de agricultura orgánica</li>
        <li>Talleres de cannabis</li>
        <li>Oferta de alimentos</li>
        <li>Naturaleza hecho arte</li>
      </ul>
    </div>
  </div>
</div>
