.location-container {
  padding: 1rem;
  background-color: #1C76B7;
}

.location-page {
  padding: 2rem 0 2rem 0;
  background-color: #FFFFFF;
}

.location-banner {
  @media (max-width: 576px) {
    margin: 0 1rem 3rem 1rem;
  }
  margin: 0 5rem 3rem 5rem;
}

.banner-title {
  @media (min-width: 992px) {
    text-align: right;
  }
  text-align: center;
  font-family: "Metropolis", serif;
  font-size: 3vw;
  font-weight: bold;
  color: #1C76B7;
  @media (max-width: 768px) {
    font-size: 20px;
  }
}

.banner-text {
  font-family: "DIN", serif;
  font-size: 2vw;
  @media (max-width: 768px) {
    font-size: 15px;
  }
}

.location-image {
  display: block;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.accordion-header {
  font-family: "Metropolis", serif;
}

.accordion-button {
  border: 2px solid;
  font-weight: bold;
  font-size: 2vw;
  @media (max-width: 768px) {
    font-size: 15px;
  }
}

.accordion-body {
  font-family: "DIN", serif;
  font-size: 2vw;
  @media (max-width: 768px) {
    font-size: 15px;
  }
}

.accordion-title {
  text-align: center;
  margin: 1.5rem 0 1.5rem 0;
  font-family: "DIN", serif;
  font-weight: bold;
  font-size: 3vw;
  @media (max-width: 768px) {
    font-size: 20px;
  }
}

.location-text {
  @media (min-width: 992px) {
    text-align: right;
  }
}

.map-pin {
  margin-top: 1rem;
  height: 100%;
  width: 100%;
  min-height: 350px;
}

#buttonOne {
  border-color: #009447;
}

#buttonTwo {
  border-color: #1C76B7;
}

#buttonThree {
  border-color: #009447;
}

#buttonFour {
  border-color: #1C76B7;
}

#buttonFive {
  border-color: #009447;
}
