<div class="events-container">
  <div class="events-page">
    <div class="events-banner">
      <p class="banner-title">Organiza tu evento en Riverside</p>
      <p class="banner-text"><b>Tenemos la capacidad para organizar eventos empresariales y sociales en nuestra
        propiedad.</b> Conferencias, celebraciones, retiros, le brindamos una <b>¡experiencia inolvidable!</b>
        Garantizamos <b>espacios inspiradores</b> para tu evento con un staff siempre atento al mas mínimo detalle.</p>
      <div class="events-info row row-cols-1 row-cols-lg-2">
        <div class="events-image-col col">
          <div class="events-row row row-cols-3">
            <div class="events-col col">
              <img class="events-image" [src]="baseEventsImages + imageOneName + imageExtension" [alt]="imageOneName">
            </div>
            <div class="events-col col">
              <img class="events-image" [src]="baseEventsImages + imageTwoName + imageExtension" [alt]="imageTwoName">
            </div>
            <div class="events-col col">
              <img class="events-image" [src]="baseEventsImages + imageThreeName + imageExtension" [alt]="imageThreeName">
            </div>
          </div>
        </div>
        <div class="banner-list">
          <div class="col">
            <b>Contamos con:</b>
            <ul>
              <li>Salón de conferencias</li>
              <li>Salón de reuniones</li>
              <li>Catering</li>
              <li>Sesiones de liderazgo</li>
              <li>Talleres de cocina</li>
              <li>Metodologías ágiles</li>
              <li>Capacidad para festivales</li>
              <li>Experiencias conectadas con la naturaleza y la agricultura</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
