.community-container {
  padding: 1rem;
  background-color: #1C76B7;
}

.community-page {
  padding: 2rem 0 2rem 0;
  background-color: #FFFFFF;
}

.community-banner {
  @media (max-width: 576px) {
    margin: 0 1rem 3rem 1rem;
  }
  margin: 0 5rem 3rem 5rem;
}

.banner-title {
  font-family: "Metropolis", serif;
  font-size: 3vw;
  font-weight: bold;
  color: #1C76B7;
  @media (max-width: 768px) {
    font-size: 20px;
  }
  text-align: center;
}

.banner-text {
  font-family: "DIN", serif;
  font-size: 2vw;
  @media (max-width: 768px) {
    font-size: 15px;
  }
}

.community-image {
  display: block;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.community-row {
  margin-top: 3rem;
}

#carouselCommunity {
  width: 100%;
}

.carousel-item {
  display: block;
  width: 100%;
}

.carousel-img {
  @media (max-width: 768px) {
    height: 50vh;
  }
  height: 85vh;
}

i {
  margin-top: 50%;
  font-size: 3rem;
  color: #FFFFFF;
}

.carousel-col {
  margin-bottom: 3rem;
}
