.transparent-nav {
  background-color: rgba(0, 0, 0, 0.7);
  font-family: "Metropolis", serif;
}

.riverside-logo {
  width: 6rem;
  height: 6rem;
}

.nav-link {
  font: Metropolis;
  color: #FFFFFF;
}

.nav-items {
  width: 100%;
}

.navbar-toggler {
  border-color: #FFFFFF;
}


