<div class="about-us-container">
  <div class="about-us-page">
    <div class="about-us-banner">
      <p class="banner-title">¿Quiénes somos? </p>
      <p class="banner-text">En 2018 se presentó la oportunidad de invertir en una nueva propiedad y empezó la <b>aventura
        llamada Riverside</b>. En los últimos años Jota comenzó a observar un cambio en la manera en que <b>viajamos y
        trabajamos</b>. Empezaron a llegar más <b>nómadas digitales a Jericó</b>, personas que viajan y trabajan al
        mismo tiempo. Estas personas buscan estancias de larga duración e invierten en otros tipos de experiencias. La
        motivación para tener un <b>coworking rural</b> nace de este hecho y la creencia que el trabajo no tiene que ser
        aburrido. Uno puede trabajar en <b>comunidad</b> y enriquecerse del conocimiento de otros. Además, creemos que
        <b>viajar</b> es el aprendizaje más grande que uno puede tener porque te brinda herramientas nuevas.</p>
      <p class="banner-text">Además, la situación actual con la <b>pandemia global</b> aceleró la necesidad de <b>trabajar
        remotamente</b>. El número de personas que están trabajando remotamente ha crecido 1000% en 2020, lo cual crea
        una oportunidad para el <b>mercado de hospitality</b>. Ha sido desde el comienzo un proyecto colaborativo, <b>creado
          por viajeros para viajeros</b>, donde muchas personas han aportado ideas y su talento. Creemos en el talento
        de la gente y que la tierra nos brinda una riqueza enorme que deberíamos aprovechar. Somos seres sociales.</p>
      <p class="banner-text">Nuestra visión a futuro es tener más sedes de coworking en todo el país, trabajando con
        diferentes comunidades locales para crear <b>proyectos sostenibles y amigables con el ambiente natural y
          cultural</b>. Trayendo la nueva modalidad de trabajo a sitios tradicionales para crear espacios donde se
        potencializan a través del encuentro.</p>
      <div class="about-us-row row row-cols-1 row-cols-lg-2">
        <div class="col">
          <picture>
            <source media="(max-width: 576px)"
                    [srcset]="baseAboutUsImages + imageOneMobileName + imageExtension">
            <img class="about-us-image" [src]="baseAboutUsImages + imageOneName + imageExtension" [alt]="imageOneName">
          </picture>
        </div>
        <div class="col">
          <picture>
            <source media="(max-width: 576px)"
                    [srcset]="baseAboutUsImages + imageTwoMobileName + imageExtension">
            <img class="about-us-image" [src]="baseAboutUsImages + imageTwoName + imageExtension" [alt]="imageTwoName">
          </picture>
        </div>
      </div>
      <div class="about-us-row reverse-row row row-cols-1 row-cols-lg-2">
        <div class="col">
          <img class="about-us-image" [src]="baseAboutUsImages + imageThreeName + imageExtension"
               [alt]="imageThreeName">
        </div>
        <div class="right-text col">
          <p class="banner-subtitle-right"><b>El concepto</b></p>
          <p class="banner-text">En Riverside sentimos mucho orgullo por la historia y las <b>tradiciones campesinas
            colombianas</b>. La conexión con la tierra y la sabiduría de los <b>obreros y caficultores</b> es una
            inspiración enorme para nuestro trabajo. Es en el campo donde la cultura auténtica se vive en el día a día.
            Los campesinos con bultos de café, el arriero mercando en caballo; es ese folklore que se busca optimizar a
            través de la <b>multiculturalidad</b>.</p>
          <p class="banner-text">La ubicación <b>al lado del río</b> tampoco es una coincidencia porque en la historia
            de la humanidad las primeras comunidades siempre se formaron al lado del agua. Queriendo formar una nueva
            <b>comunidad creativa</b>, basada en el encuentro multicultural donde se conecta el conocimiento local con
            la <b>conectividad virtual</b>, fue una elección muy lógica. El aire fresco, la calma, todo contribuir a una
            <b>experiencia laboral</b> más placentera y productiva.</p>
        </div>
      </div>
      <div class="about-us-row row row-cols-1 row-cols-lg-2">
        <div class="col">
          <p class="banner-subtitle-left"><b>Programa de voluntariado</b></p>
          <p class="banner-text">Estamos abiertos a recibir voluntarios que quieran contribuir a nuestra
            <b>comunidad</b> con su <b>talento especial</b>. Valoramos mucho la labor de nuestros voluntarios y queremos
            que te sientas en casa mientras desarrollas un <b>proyecto en Riverside</b>. Buscamos personas con <b>diversos
              talentos</b>: profesores de yoga, diseñadores, cocineros, jardineros, artistas, desarrolladores, líderes,
            comunicadores... ¡Queremos escuchar de ti!</p>
        </div>
        <div class="col">
          <img class="about-us-image" [src]="baseAboutUsImages + imageFourName + imageExtension" [alt]="imageFourName">
        </div>
      </div>
    </div>
  </div>
</div>
