<div class="coworking-container">
  <div class="coworking-page">
    <div class="coworking-banner">
      <p class="banner-title">Coworking</p>
    </div>
    <div class="coworking-text">
      <p class="coworking-subtext">En nuestro espacio de coworking puedes trabajar con seguridad y confianza. El espacio
        es amplio, con hasta 40 puestos de trabajo y sillas ergonómicas. Con los ventanales a 360°, estarás rodeado de
        las verdes montañas mientras haces tus reuniones laborales. El espacio está disponible 24/7.</p>
      <p class="coworking-subtext">Te brindamos una conexión segura al internet con nuestra red con una velocidad de
        150Mbps. En caso tal que la red falle, tenemos una conexión satelital disponible.</p>
      <p class="coworking-subtext">Sabemos que trabajar remotamente a veces genera soledad. En Riverside encontrarás una
        comunidad con el mismo estilo de vida, lo cual te puede brindar amistades e incluso trabajo colaborativo.
        Además, hacer parte de una comunidad te motiva a cumplir con tus metas laborales mientras mantengas un
        equilibrio sano entre trabajo y ocio. Descubre tu energía más productiva y creativa trabajando en Riverside.</p>
    </div>
    <div class="object-group row row-cols-1 row-cols-lg-2">
      <div class="col">
        <img class="coworking-image" [src]="baseCoworkingImages + imageName + imageExtension" [alt]="imageName">
      </div>
      <div class="col">
        <div class="accordion-title">
          Preguntas frecuentes
        </div>
        <div class="accordion" id="accordionQuestions">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                      aria-expanded="false" aria-controls="collapseOne" id="buttonOne">
                Conectividad
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                 data-bs-parent="#accordionQuestions">
              <div class="accordion-body">
                Nuestro WiFi proviene de una conexión fibra óptica de 150 Mpsg. Tenemos un backup satelital en caso tal
                que la red se caiga.
                Le brindamos la opción a nuestros usuarios de conectarse a través de un cable ethernet.
                Nuestra red tiene una capacidad de conectar más de 600 dispositivos simultáneamente.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" id="buttonTwo"
                      data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Mi puesto de trabajo
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                 data-bs-parent="#accordionQuestions">
              <div class="accordion-body">
                El espacio de coworking tiene 16 mesas modulares para adaptarse a tus necesidades laborales. Nuestras
                sillas son ergonómicas, adaptables y cómodas.
                Hay espacios para trabajar individualmente, en equipo, salas de reuniones y cabinas privadas. Todos los
                espacios de trabajo tienen múltiples tomacorrientes.
                Y recuerda: todo esto rodeado por un paisaje tranquilo e inspirador.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" id="buttonThree"
                      data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Espacios de trabajo compartidos
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                 data-bs-parent="#accordionQuestions">
              <div class="accordion-body">
                Brindamos la posibilidad de trabajar en Riverside sin hospedarse. Nuestra infraestructura cuenta con
                amplios espacios comunes, estaciones de hidratación y café, la posibilidad de recibir almuerzo y un
                espacio de trabajo de la más alta calidad.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" id="buttonFour"
                      data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                Eventos empresariales
              </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                 data-bs-parent="#accordionQuestions">
              <div class="accordion-body">
                Tenemos salas de reuniones con una capacidad de hasta 24 personas.
                Contáctanos para conocer los paquetes que ofrecemos para eventos empresariales.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" id="buttonFive"
                      data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
                Horarios / disponibilidad
              </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                 data-bs-parent="#accordionQuestions">
              <div class="accordion-body">
                El coworking está disponible 24 horas al día, 7 días a la semana.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="coworking-footer">
      <p>¿Aún no estás seguro de que quieres venir a trabajar en Riverside? <b>Agenda una videollamada con alguien de
        nuestro equipo.</b> ¡Comienza a viajar ya!</p>
    </div>
  </div>
</div>
