.app-nav {
  position: absolute;
  z-index: 10;
  width: 100%;
}

.button-reservation:hover {
  border: 2px solid #FFFFFF;
}

.button-reservation {
  box-shadow: 2px 4px rgba(0, 0, 0, 0.7);
  min-width: 10rem;
  border-radius: 24px;
  background-color: #1C76B7;
  color: #FFFFFF;
  font-weight: bold;
  font-family: "Metropolis", serif;
  font-size: 3vw;
  @media (max-width: 768px) {
    font-size: 20px;
    left: 60%;
  }
  @media (max-width: 576px) {
    left: 50%;
    font-size: 15px;
  }
  position: fixed;
  z-index: 10;
  top: 80%;
  left: 70%;
}

.button-text {
  @media (max-width: 576px) {
    margin: 0;
  }
  margin: 0 1rem 0 1rem;
}

.social-bar {
  @media (max-width: 768px) {
    right: 0;
    bottom: 0;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    border-radius: 0;
  }
  @media (min-width: 769px) {
    right: 0;
    top: 35%;
    flex-direction: column;
    align-items: flex-end;
    border-radius: 22px;
  }
  background-color: black;
  position: fixed;
  display: flex;
  z-index: 100;
  font-size: 1.5rem;
}

.icon {
  @media (max-width: 768px) {
    opacity: 1;
  }
  opacity: 0.5;
  width: 4rem;
}

.icon:hover {
  opacity: 1;
}
