<app-nav-bar (scrollEvent)="onScroll($event)" class="app-nav"></app-nav-bar>
<app-carousel id="carousel"></app-carousel>
<app-introduction id="introduction"></app-introduction>
<app-covid id="covid"></app-covid>
<app-coworking id="coworking"></app-coworking>
<app-accommodation id="accommodation"></app-accommodation>
<app-feeding id="feeding"></app-feeding>
<app-yoga id="yoga"></app-yoga>
<app-garden id="garden"></app-garden>
<app-community id="community"></app-community>
<app-events id="events"></app-events>
<app-about-us id="about-us"></app-about-us>
<app-our-clients></app-our-clients>
<app-location id="location"></app-location>
<app-contact id="contact"></app-contact>
<button type="button" class="button-reservation" (click)="clickBook()">
  <p class="button-text">Haz tu reserva</p>
</button>
<div class="social-bar">
  <a [href]="whatsappUrl" target="_blank">
    <img class="icon" [src]="baseSocialBarImages + whatsappImage + imageExtension" [alt]="whatsappImage">
  </a>
  <a [href]="instagramUrl" target="_blank">
    <img class="icon" [src]="baseSocialBarImages + instagramImage + imageExtension" [alt]="instagramImage">
  </a>
  <a [href]="facebookUrl" target="_blank">
    <img class="icon" [src]="baseSocialBarImages + facebookImage + imageExtension" [alt]="facebookImage">
  </a>
  <a [href]="linkedlnUrl" target="_blank">
    <img class="icon" [src]="baseSocialBarImages + linkedlnImage + imageExtension" [alt]="linkedlnImage">
  </a>
  <a [href]="mapUrl" target="_blank">
    <img class="icon" [src]="baseSocialBarImages + mapImage + imageExtension" [alt]="mapImage">
  </a>
</div>
