<div class="covid-container">
  <div class="covid-page">
    <div class="covid-banner">
      <p class="banner-title">Covid - 19</p>
      <p class="banner-text"><b>Medidas necesarias ante el COVID-19</b></p>
    </div>
    <div class="covid-text">
      <b class="covid-subtitle">En Riverside cuidamos de ti</b>
      <p class="covid-subtext">Tomamos las medidas de seguridad y de salud necesarias en respuesta al COVID-19.</p>
      <b class="covid-subtitle">Mayor seguridad en tu espacio de trabajo</b>
      <p class="covid-subtext">Mayor desinfección y espacios de coworking modificados para el distanciamiento.</p>
      <p class="covid-subtext">Estamos desinfectando áreas comunes con mayor frecuencia y ofreciendo productos de
        desinfección de cortesía en nuestros espacios, así los equipos pueden colaborar manteniendo un distanciamiento
        social.</p>
    </div>
    <div class="image-container">
      <img class="covid-image" [src]="baseCovidImages + imageName + imageExtension" [alt]="imageName">
    </div>
    <div class="covid-text">
      <b class="covid-subtitle">Medidas de limpieza reforzadas</b>
      <p class="covid-subtext">Cumplimos con los estándares de limpieza y Bioseguridad provistos por las autoridades de
        salud.</p>
      <b class="covid-subtitle">Mayor disponibilidad de productos de desinfección</b>
      <p class="covid-subtext">Contamos con antibacterial de manos y toallas desechables, así como dispensadores de
        jabón automáticos.</p>
      <b class="covid-subtitle">Equipos de protección personal</b>
      <p class="covid-subtext">Suministro de máscaras y guantes a todo nuestro equipo.</p>
    </div>
  </div>
</div>
