.contact-container {
  padding: 1rem;
  background-image: url("/assets/contact/contact-background.png");
}

.contact-page {
  padding: 2rem 0 2rem 0;
}

.contact-banner {
  @media (max-width: 576px) {
    margin: 0 1rem 3rem 1rem;
  }
  margin: 0 5rem 3rem 5rem;
}

.banner-title {
  font-family: "Metropolis", serif;
  font-size: 3vw;
  font-weight: bold;
  @media (max-width: 768px) {
    font-size: 20px;
  }
  text-align: center;
}

.banner-text {
  font-family: "DIN", serif;
  font-size: 2vw;
  @media (max-width: 768px) {
    font-size: 15px;
  }
  text-align: center;
}
