#carouselRiverside {
  width: 100%;
}

.carousel-item {
  display: block;
  width: 100%;
}

.carousel-img {
  height: 45rem;
  object-fit: cover;
}

i {
  margin-top: 75%;
  font-size: 3rem;
  color: #FFFFFF;
}
