<div id="carouselRiverside" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div *ngFor="let carouselItem of carouselItems;let isFirst = first" class="carousel-item active"
         [ngClass]="{active:isFirst}">
      <img [src]="baseCarouselImages + carouselItem.image + imageExtension" class="carousel-img d-block w-100"
           [alt]="carouselItem.alt">
      <div class="image-title">{{carouselItem.title}}</div>
      <div class="image-subtitle">{{carouselItem.subtitle}}</div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselRiverside" data-bs-slide="prev">
    <i class="bi-chevron-left"></i>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselRiverside" data-bs-slide="next">
    <i class="bi-chevron-right"></i>
    <span class="visually-hidden">Next</span>
  </button>
</div>
